<nav class="navbar navbar-light bg-faded navbar-static-top">
  <a class="navbar-brand" [routerLink]="['/']">Angular 2 Seed</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/github', 'angular']">Github Repos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/contact']">Contact</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  © 2016
</footer>
